/*-----------------------------------*\
  #service.css
\*-----------------------------------*/

/**
 * copyright 2022 codewithsadee
 */
 
/**
 * TABLE OF CONTENT
 *
 * COMPONENTS
 * Card...........................Cards style
 * Btn............................Button style
 *
 * MAIN CONTENT
 * Service........................Service style
 * Media queries..................Responsive for all devices
 */





/*-----------------------------------*\
  #COMPONENTS
\*-----------------------------------*/

@import url('../components/card.css');
@import url('../components/btn.css');


/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/

.header { background-color: transparent; }

.header.active { background-color: var(--navbar-color); }



/*-----------------------------------*\
  #SERVICES
\*-----------------------------------*/

.service { padding-block-start: calc(var(--section-padding) + 20px); }



.service-list {
  display: flex;
  flex-direction: column;
width: 100%;
  justify-self: center;
  gap: 10px;
}

/*-----------------------------------*\
  #card
\*-----------------------------------*/

.card-divider{
  border-right: 3px dashed rgb(148, 148, 148);
  height: 100px;
}

.card-container{
  display: flex;
  justify-content: center;
}


.card-title {
   margin-block-end: 5px; 
   display: flex;
   align-items: center;
  }

.card ion-icon { font-size: 2.5rem; }

.card-image{
  display: flex;
  align-items: center;
}

.card { 

  border: none;
  padding: 20px;
  width: 300px;
  /* border: 2px dashed rgb(201, 201, 201); */
  gap: 30px;
}

/*-----------------------------------*\
  #container
\*-----------------------------------*/

.container {
 display: grid;
 grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
 gap: 20px;
} 


.headline{
  font-size: 3rem;
  font-weight: bold;
  color: var(--jet);
  margin-block: 0;
  padding-bottom: 40px;
  text-decoration: underline;
  text-underline-offset: 10px;
}

/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/

/**
 * responsive for large than 768px screen
 */

@media (min-width: 768px) {

  .service-list { grid-template-columns: 1fr 1fr; }

}