/*-----------------------------------*\
  #service.css
\*-----------------------------------*/

/**
 * copyright 2022 codewithsadee
 */
 
/**
 * TABLE OF CONTENT
 *
 * COMPONENTS
 * Card...........................Cards style
 * Btn............................Button style
 *
 * MAIN CONTENT
 * Service........................Service style
 * Media queries..................Responsive for all devices
 */





/*-----------------------------------*\
  #COMPONENTS
\*-----------------------------------*/

@import url('../components/card.css');
@import url('../components/btn.css');


/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/

.header { background-color: transparent; }

.header.active { background-color: var(--navbar-color); }



/*-----------------------------------*\
  #SERVICES
\*-----------------------------------*/

.service { padding-block-start: calc(var(--section-padding) + 20px); }



.service-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-self: center;
  gap: 10px;
}
/*-----------------------------------*\
  #HOVER CONTENT
\*-----------------------------------*/


.container{
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
  font-size: large;
  line-height: 1.8;

}


.hover-container {
  position: relative;
  display: flex;
  align-items: center;
}

.hover-div {
  padding: 20px 20px;
  min-width: 330px;
  background-color: #b7b7b7;
  color: rgb(58, 58, 58);
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
  position: relative;

  /* border:  rgb(85, 85, 85) 1px solid; */
}

.hover-div::after {
  content: '';
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height:100%;
  background-color: rgb(85, 85, 85);
}

.hover-div:hover {
  background-color: #cacaca;
  transform: scale(1.01);
}

.reveal-div {
  visibility: hidden;
  margin: 20px;
  opacity: 0;
  color: var(--grey);
  margin-right:20px;
  transition: visibility 0s, opacity 0.3s ease-in-out;
}

.reveal-div::after {
  content: '';
  position: absolute ;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  width: 5px;
  height:100%;
  background-color: rgb(200, 200, 200);
}

.hover-div:hover + .reveal-div {
  visibility: visible;
  opacity: 1;
  transition-delay: 0.3s;
}

/*-----------------------------------*\
  #IMAGE
\*-----------------------------------*/
  
/*-----------------------------------*\
  #TEXT CONTENT
\*-----------------------------------*/
.head-md{
  font-size: 1.6rem;
  font-weight: 700;
  padding-bottom: 5px;

}
.text-md{
  font-size: 1.5rem;
  font-weight: 500;

}
.text-sm{
  font-size: 1.2rem;
  font-weight: 300;
}

.tag{
  font-size: 1.2rem;
  font-weight: 500;
  color: #ececec;
  background-color: #5c5c5c;
  width: max-content;
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
  display: inline-block;
}

.about
{
  padding-top: 50px;
  font-size: 2rem;
}

/*-----------------------------------*\
  #container
\*-----------------------------------*/

/* .container {
 display: grid;
 grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
 gap: 20px;
}  */


.headline{
  padding-bottom: 10px;
}
/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/

/**
 * responsive for large than 768px screen
 */

@media (min-width: 768px) {

  .service-list { grid-template-columns: 1fr 1fr; }

}

@media (max-width: 600px) {
  .container {
      padding: 10px;
  }

  .hover-container {
      flex-direction: column;
      
  }
  .reveal-div {
      width: 300px;
      height: 150px;

  }
  .about{
    display: flex;
    justify-content: center;
  }
  .topsection{
    display: flex;
    justify-content: center;
   margin:10px 20px 10px 20px;
  }
}